<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="view.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>View</h1>
        <div id="nav">   
        <a href="../../index.html">Home</a>
        <a href="../../contact/contact.html">Contact</a>
        <a href="../../pages/about/about.html">About</a>
        </div>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis itaque ab deleniti ea, perferendis nostrum cum mollitia? Beatae, dolores temporibus pariatur consequatur, voluptates obcaecati iure saepe provident exercitationem ut similique!</p>
</body>
</html>
